* {
    /* La propiedad border-box recalcula el ancho de una caja para que el width sea la estrictamente la suma de border + padding + ancho o altura que sea necesario para que se cumpla. */
    box-sizing: border-box;
}

.header_menu {grid-area: menu;}

.main_servicios {grid-area: servicios;}

.section-nosotros {
    grid-area: nosotros;
    background-color: rgba(255, 255, 255, 0.8);
}
.main_nosotros {
    text-align: left !important;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.main_nosotros h2{
    font-size: 30px;
    margin: 15px;
    color: rgb(6, 6, 78);
}
.main_nosotros h3{
    font-size: 20px;
    margin: 15px;
    color: rgb(6, 6, 78);
}
.main_nosotros p{
    font-size: 14px;
    margin: 15px;
}
.main_nosotros .container-valores{
    display: flex;
    justify-content: center;
}
.main_nosotros .container-card{
    margin: 15px;
    text-align: center;
    border: 0px solid black;
    border-radius: 8px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    width: 30%;
}
.main_nosotros .container-card h4{
    margin: 4px;
    color: rgb(6, 6, 78);
}
.main_nosotros .card-img{
    margin-top: 20px;
    width: 60px;
    height: 50px;
}

.main_osocial {grid-area: osocial;}

.logo_os { max-height: 80px; max-width: 300px ; padding: 10px;} 

.titulo_seccion {max-width: 400px; padding: 20px; font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif ; color: rgb(6, 6, 78);}

.main_turnos {grid-area: turnos;}

.main_contacto {grid-area: contacto;}

.footer {grid-area: footer;}

.contenedor_principal{
    width: 90%;
    max-width: 1000px;
    margin: 20px auto;
    display: grid;
    gap: 20px;
    grid-template-areas:
        "menu menu menu menu"
        "nosotros nosotros nosotros nosotros"
        "servicios servicios osocial osocial"
        "turnos turnos osocial osocial"
        "contacto contacto contacto contacto"
        "footer footer footer footer";
    grid-gap: 10px;
    background-color: rgb(211, 211, 211);
    padding: 10px;
}

/* DISEÑO RESPONSIVE PARA TABLET */
@media screen and (max-width: 768px){
    .contenedor_principal{
        grid-template-areas:
        "menu menu menu"
        "nosotros nosotros nosotros"
        "servicios servicios osocial"
        "turnos turnos osocial"
        "contacto contacto contacto"
        "footer footer footer";
    }
}

.contenedor_principal > div {
    background-color: rgba(255, 255, 255, 0.8);
    /* el cuarto parametro es la trasparencia, por lo que se ve un poco el color del contendero principal definido mas arriba */
    text-align: center;
    padding: 20px 0;
    font-size: 20px;
}

/* DISEÑO DEL MENU -- ver de poder hacerlo con clases */
.header_menu > nav ul {
    list-style: none;
    overflow: hidden; 
}
.header_menu > nav ul li {
    float: left;
}
.header_menu > nav ul li a {
    display: block; 
    padding: 15px;
    color: rgb(0, 0, 0);
    text-decoration: none;
}
.header_menu > nav ul li a:hover {
    background: rgb(255, 63, 63);
}

/* DISEÑO RESPONSIVE PARA CELULAR */
@media screen and (max-width: 480px){
    .contenedor_principal {
        /*Le saque el margin y el padding al contenedor principal para usar todo el ancho en el modo celular*/
        margin: 0;
        padding: 0;
        grid-template-areas: 
        "menu"
        "nosotros"
        "servicios"
        "osocial"
        "turnos"
        "contacto"
        "footer";
    }
    body {
        /*Le saque el margin y el padding al body para usar todo el ancho en el modo celular*/
        margin: 0;
        padding: 0;
    }
    .main_nosotros .container-valores {
        flex-direction: column;
    }
    .main_nosotros .container-card {
        width: auto;
    }
}